task-tracker/bin/
task-tracker/target/
task-tracker/.gradle/
task-tracker/build/
task-tracker/preferences.json
task-tracker/config.json
task-tracker/data/
task-tracker/tasktracker.log.*
task-tracker/src/test/data/sandbox/
*.log
*.xml
!task-tracker/src/test/data/ManualTesting/SampleData.xml
